.alert {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/1162251/pexels-photo-1162251.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.alert h1 {
  text-transform: uppercase;
  color: #fefefe;
  font-size: 10vmax;
}

@media screen and (max-width: 600px) {
  .alert h1 {
    font-size: 5vmax;
  }
}
